<!DOCTYPE html>
<html>
    <head>
        <title><%= title %></title>
        <link rel='stylesheet' href='/stylesheets/style.css' />
    </head>
    <body>
        <h1><%= title %></h1>
        <p>Welcome to <%= title %> system.</p>
        <p>This system is used to help to build a Circle of Safety in our department.<br>
        Please do your best to help the COS building.</p><br>
        <h2>Entrance:</h2>
        <ul>
            <!-- <h3><li><a href="/topics">百無禁忌</a></li></h3><br> -->
            <!-- <h3><li><a href="/horizontal_give">同事互評</a></li></h3><br> -->
            <h3><li><a href="/upward_give">向上回饋</a></li></h3><br>
            <h3><li><a href="/comment">評語</a></li></h3><br>
            <% if(isAdmin == true) { %>
            <!-- <h3><li><a href="/grade_rawdata_list">排行榜</a></li></h3><br> -->
            <h3><li><a href="/upward_result">向上回饋評分管理</a></li></h3><br>
            <h3><li><a href="/account_manage">帳戶管理</a></li></h3><br>
            <% } else if(isLeader == true) { %>
            <h3><li><a href="/upward_fullresult">查詢向上回饋結果</a></li></h3><br>
            <% } %>
            <!-- <h3><li>OKR</li></h3><br> -->
            <!-- <h3><li>考績</li></h3> -->

        </ul>
        <%- link_banner.basic %>
        <% if(isAdmin == true) { %>
        <%- link_banner.admin %>
        <% } else if(isLeader == true) { %>
        <%- link_banner.leader %>
        <% } %>
        <%- link_banner.logout %>
    </body>
</html>
