<!DOCTYPE html>
<html>
    <head>
        <title><%= title %></title>
        <link rel='stylesheet' href='/stylesheets/style.css' />
    </head>
    <body>
        <h1><%= title %></h1>
        <p>List all the topics...</p>

        <%- link_banner.basic %>
        <% if(isAdmin == true) { %>
        <%- link_banner.admin %>
        <% } else if(isLeader == true) { %>
        <%- link_banner.leader %>
        <% } %>
        <%- link_banner.logout %>
    </body>
</html>