<!DOCTYPE html>
<html>
    <head>
        <title><%= title %></title>
        <link rel='stylesheet' href='/stylesheets/style.css' />
    </head>
    <body>
        <h1><%= title %></h1>
        <p>This page is used to calculate and announce result of upward feedback, manually.</p><br>
        <ul>
            <li><a href="/upward_calculate"><h3>手動結算</h3></a></li><br>
            <li><a href="/upward_announce"><h3>手動公佈</h3></a></li><br>
            <li><a href="/upward_fullresult"><h3>查詢結果</h3></a></li><br>
        </ul>

        <%- link_banner.basic %>
        <% if(isAdmin == true) { %>
        <%- link_banner.admin %>
        <% } else if(isLeader == true) { %>
        <%- link_banner.leader %>
        <% } %>
        <%- link_banner.logout %>
    </body>
</html>