<!DOCTYPE html>
<html>
    <head>
        <title><%= title %></title>
        <link rel='stylesheet' href='/stylesheets/style.css' />
    </head>
    <body>
        <h1><%= title %></h1>
        <p>This page is used to view detail result of upward grade.</p><br>
        
        <table border="1">
        <tr>
            <% for (var key of Object.keys(result[0])) { %>
            <td><%= key %></td>
            <% } %>
        </tr>
        <% for (var i=0;i<result.length;i++) { %>
        <tr>
            <% for (var key of Object.keys(result[i])) { %>
                <td align="right"><%= result[i][key] %></td>
            <% } %>
        </tr>
        <% } %>
        </table>

        <%- link_banner.basic %>
        <% if(isAdmin == true) { %>
        <%- link_banner.admin %>
        <% } else if(isLeader == true) { %>
        <%- link_banner.leader %>
        <% } %>
        <%- link_banner.logout %>
    </body>
</html>